.course-list {
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__button {
    display: inline-block;
    width: 30%;
    border: none;
    background: #a3c644;
    height: 40px;
    color: white;
    text-transform: uppercase;
    border-radius: 0;
  }
}
