<div class="course-details"
     [ngClass]="{'course-details_top': course.topRated }"
     [appNewCourse] = course>
  <div class="course-details__main">
    <div class="course-details__main-header">
      <div class="course-details__main-header-info">{{course.name | uppercase}}</div>
      <div class="course-details__main-header-info">{{course.duration | formatDuration}}</div>
      <div class="course-details__main-header-info course-details__main-header-info_star"
           *ngIf="course.topRated">★</div>
    </div>
    <div class="course-details__main-info">
      {{course.info}}
    </div>
  </div>
  <div class="course-details__actions">
    <button class="course-details__action-button"
            (click)="editCourse(course)">Edit course</button>
    <button class="course-details__action-button test"
            (click)="removeCourse(course)">delete</button>
  </div>
</div>
